{% extends 'base.html.twig' %}

{% block body %}
	<h1>Bienvenue sur votre interface de gestion</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a aliquam velit. Nulla finibus tempus ipsum at facilisis. Fusce id hendrerit libero, at iaculis tellus. Vivamus scelerisque, elit a lobortis dignissim, augue ligula auctor turpis, eu porta justo purus elementum ante. Donec ligula nunc, dignissim id vestibulum ac, rhoncus sed nisi. Etiam posuere ac nunc ut consectetur. Curabitur eu pharetra neque, eu consectetur sapien.</p>
{% endblock %}